body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.asignacion-docente-head {
    margin: 0 auto;
    width: 85%;
    
}

#seguimiento_global_grupo_table,
#head {
    margin: 0 auto;
    width: 85%;
}


.evaluacion-componente-head {
    margin: 0 auto;
    width: 50%;
}

.search-form-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-form-1 input[type=text],
.search-form-1 select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form-1 input[type=submit] {
    width: 10%;
    background-color: #0072CE;
    color: white;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-form-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.search-form-2 input[type=text],
.search-form-2 select {
    width: 10em;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form-2 input[type=submit] {
    width: 100%;
    background-color: #0072CE;
    color: white;
    padding: 12px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.firmar-button {
    width: 40vh;
    background-color: #0072CE;
    color: white;
    padding: 12px 20px;
    margin: 15px auto; /* Center the element horizontally */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* table-1 specific style for #info docente id*/
#info_docente {
    margin: 0 auto;
}

.table-1 th,
.table-1 td{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-1 caption {
    font-weight: bold;
}


.table-2 table {
    margin: 16px 16px;
    border-collapse: collapse;
    width: 100%;
}

.table-2 th,
.table-2 td {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-2 th {
    background-color: #f2f2f2;
    color: #333;
}

.table-2 tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-2 tr:hover {
    background-color: #f5f5f5;
}

.notification-area {
    margin: 0 auto;
    width: 85%;
}

.notification-red {
    text-align: center;
    background-color: #ffa9a9;
    color: #000000;
    font-weight: bold;
    padding: 4px;
    margin: 5px;
}

.notification-orange {
    text-align: center;
    background-color: #f6d784;
    color: #000000;
    font-weight: bold;
    padding: 4px;
    margin: 5px;

}

.notification-green {
    text-align: center;
    background-color: #9feea2;
    color: #000000;
    font-weight: bold;
    padding: 4px;
    margin: 5px;

}

.notification-neutral {
    font-weight: bold;
    text-align: center;
}

#estatus_firma {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#notification {
    text-align: center;
}
