body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

#info_general {
    order: 1
}

#asignacion_docente {
    order: 2;
}


#seguimiento_global_grupo_form {
    display: flex;
    justify-content: center;
    align-items: center;
}



#asignacion_docente th,
#asignacion_docente td,
#info_general td{
    font-size: 20px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}



/* Cool style for the table */


